<aside id="sidebar" class="sidebar">
    <h2>메인 화면</h2>
    <ul>
        <li><a href="/" class="<%= title === '메인 화면' ? 'active' : '' %>"> 메인 화면</a></li>
        <li><a href="/blockui/<%= user ? user.user_id : '' %>" class="<%= title === '블록 페이지' ? 'active' : '' %>"> 블록 꾸미기</a></li>
        <li><a href="#" class="<%= title === '#' ? 'active' : '' %>"> 커뮤니티</a></li>
        <li><a href="/mypage" class="<%= title === '마이 페이지' ? 'active' : '' %>"> 마이 페이지</a></li>
    </ul>
</aside>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const toggleBtn = document.getElementById('toggle-btn');
  const sidebar = document.getElementById('sidebar');
  const content = document.querySelector('.content');

  toggleBtn.addEventListener('click', () => {
    sidebar.classList.toggle('hidden');
    content.classList.toggle('full');
  });
});
</script>